<!-- Workspace section-->
<section class="workspace-section position-relative">
  <img src="assets/Workspace-vibe.png" class="bg-img" />

  <div class="container-fluid">
    <div class="row m-0 h-100">
      <div class="col-md-5 d-flex align-items-center justify-content-center">
        <div class="position-relative text-white z-1 pick-heading">
          <h2 class="fw-bold lh-1 display-3 mb-0 trade text-center text-lg-start"
            style="line-height: 78px; letter-spacing: -2%;">PICK YOUR
          </h2>
          <h2 class="fw-light lh-1 display-3 trade text-center text-lg-start"
            style="line-height: 78px; letter-spacing: -2%;">WORKSPACE
            VIBE</h2>
        </div>
      </div>

      <!-- RIGHT SIDE SLIDER + DOTS + CARDS -->
      <div class="col-md-7 position-relative d-flex align-items-center justify-content-end spacing">
        <div class="swiper workspaceSwiper">
          <div class="swiper-wrapper">
            <!-- Slide 1 -->
            <div class="swiper-slide">
              <div class="workspace-image-container">
                <div class="white-frame">
                  <!-- DOT 1 -->
                  <div class="dot-box box-1" data-dot="1">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold ttnorms-font">
                        ASUS Vivobook Pro 15 OLED M6500QFB
                      </h5>
                      <p class="small ttnorms-font">
                        Product description lorem ipsum ongoing...
                      </p>
                    </div>
                  </div>

                  <!-- DOT 2 -->
                  <div class="dot-box box-2" data-dot="2">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold ttnorms-font">ASUS Zenbook Pro Duo</h5>
                      <p class="small ttnorms-font">
                        Dual screen creative workstation
                      </p>
                    </div>
                  </div>

                  <!-- DOT 3 -->
                  <div class="dot-box box-3" data-dot="3">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold ttnorms-font">ASUS ROG Strix G15</h5>
                      <p class="small ttnorms-font">
                        High-performance gaming laptop
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide 2 -->
            <div class="swiper-slide">
              <div class="workspace-image-container">
                <div class="white-frame">
                  <!-- DOT 1 -->
                  <div class="dot-box box-1" data-dot="1">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold myriad">ASUS Zenbook Pro Duo</h5>
                      <p class="small myriad">
                        Dual screen creative workstation
                      </p>
                    </div>
                  </div>

                  <!-- DOT 2 -->
                  <div class="dot-box box-2" data-dot="2">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold myriad">ASUS ROG Strix G15</h5>
                      <p class="small myriad">High-performance gaming laptop</p>
                    </div>
                  </div>

                  <!-- DOT 3 -->
                  <div class="dot-box box-3" data-dot="3">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold myriad">
                        ASUS Vivobook Pro 15 OLED M6500QFB
                      </h5>
                      <p class="small myriad">
                        Product description lorem ipsum ongoing...
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Slide 3 -->
            <div class="swiper-slide">
              <div class="workspace-image-container">
                <div class="white-frame">
                  <!-- DOT 1 -->
                  <div class="dot-box box-1" data-dot="1">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold myriad">ASUS Zenbook Pro Duo</h5>
                      <p class="small myriad">
                        Dual screen creative workstation
                      </p>
                    </div>
                  </div>

                  <!-- DOT 2 -->
                  <div class="dot-box box-2" data-dot="2">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold myriad">ASUS ROG Strix G15</h5>
                      <p class="small myriad">High-performance gaming laptop</p>
                    </div>
                  </div>

                  <!-- DOT 3 -->
                  <div class="dot-box box-3" data-dot="3">
                    <div class="dot"></div>
                    <div class="info-card">
                      <div class="card-arrow">
                        <img src="assets/blue-arrow-left.png" class="card-img" />
                      </div>
                      <img src="assets/popular-series-1.png" class="card-img" />
                      <h5 class="fw-bold myriad">
                        ASUS Vivobook Pro 15 OLED M6500QFB
                      </h5>
                      <p class="small myriad">
                        Product description lorem ipsum ongoing...
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <div class="swiper-pagination-workspace"></div>
        </div>
      </div>
    </div>
  </div>
</section>